### Subtasks:

1. Change long data to wide data format --> **Completed**
2. Drop useless columns --> **Completed**  
3. Fix Zverev doubling issue --> **Completed**
4. Fix playerss w/o h2h bar/percentage issue --> **Completed (in Excel)**
5. Change columns to appropriate data types/seperate certain columns (e.g. Clay, Hard, Grass, Overall, etc.) and handle Nulls --> **Completed**
6. Change names of columns to make them conventional, change index to current rank, move around columns --> **Completed**
7. Change all object type to string type

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [ ]:
# loading data
df_long = pd.read_csv(r"C:\Users\dwbae\OneDrive\Desktop\ATP_Web_Scrape\top_100.csv")

In [ ]:
df_long.head(10)

### 1. Changing data from long to wide:

In [ ]:
df = pd.pivot_table(df_long, index = 'Name', columns = 'Category', values = 'Info', aggfunc = 'sum')

In [ ]:
pd.options.display.max_columns = None
display(df)

In [ ]:
df.reset_index(inplace=True)
df

### 2. Dropping useless columns:

In [ ]:
# columns to drop: Facebook, Twitter, Website, Wikipedia, Active, Nicknames, H2H
df = df.drop(['Facebook', 'Twitter', 'Website', 'Wikipedia', 'Active', 'Nicknames', 'H2H'], axis=1)

### 3. Fixing Zverev doubling problem:

In [ ]:
# Fixing Zverev Issue
new_row = {'Name': 'Alexander Zverev','1st Serve %': '65.10%','1st Serve Won %': '74.40%','1st Srv. Return Won %': '30.70%','2nd Serve Won %': '49.60%', '2nd Srv. Return Won %': '50.90%', 'Ace %': '10.60%', 'Ace Against %': '5.60%', 'Age': '25 (20-04-1997)', 'Backhand': 'Two-handed', 'Best Elo Rank': '3 (21-11-2021)', 'Best Rank': '2 (13-06-2022)', 'Best Season': '2021', 'Birthplace': 'Hamburg, Germany', 'Break Points Ratio': '1.06', 'Break Points Saved %': '60.30%', 'Break Points Won %': '42.0%', 'Carpet': '0% (0-0)', 'Clay': '71.6% (106-42)', 'Coach': 'Mischa Zverev', 'Country': 'Germany', 'Current Elo Rank': '6 (2160)', 'Current Rank': '14 (2500)', 'Davis Cups': '0', 'Double Fault %': '5.3%', 'Double Fault Against %': '3.40%', 'Favorite Surface': 'Clay 17%','GOAT Rank': '32 (111)', 'Games Dominance': '1.42', 'Games Won %': '53.70%', 'Grand Slams': '0', 'Grass': '63.6% (28-16)', 'H2H %': '75.80%', 'Hard': '67.6% (202-97)', 'Height': '198 cm', 'Last Appearance': '27-02-2023', 'Masters': '5', 'Match Time': '1:46', 'Matches Won %': '68.40%', 'Olympics': '1', 'Overall': '68.4% (336-155)', 'Peak Elo Rating': '2303 (21-11-2021)', 'Plays': 'Right-handed', 'Points Dominance': '1.12', 'Prize Money': 'US$31,767,815 7th all-time in earnings', 'Residence': 'Monte-Carlo, Monaco', 'Return Games Won %': '25.20%', 'Return Points Won %': '38.4', 'Seasons': '11', 'Service Games Won %': '82.3', 'Service Points Won %': '65.8%', 'Sets Won %': '63.80%', 'Team Cups': '0', 'Titles': '19', 'Total Points Won %': '51.8%', 'Tour Finals': '2', 'Turned Pro': '2013', 'Weeks at No. 1': '0', 'Weight': '86kg'}

In [ ]:
df.loc[6] = new_row

In [ ]:
df.loc[6]

In [ ]:
df.to_csv("atp_cleaning_1.csv")

### 4. Fixing playerss w/o h2h progress bar/percentage issue (Completed in Excel):

In [34]:
# Loading in Fixed Dataset:
df = pd.read_csv(r"C:\Users\dwbae\OneDrive\Desktop\ATP_Web_Scrape\atp_cleaning_2.csv")

In [35]:
# Checking if problem is fixed:
df_f = df.iloc[[4,10,20,21,23,24,33,45,49,51,70,76,79,80,97,99]]

df_f[['Current Rank','Name','Hard', 'Clay', 'Grass', 'Overall', "Last Appearance"]]

,Current Rank,Name,Hard,Clay,Grass,Overall,Last Appearance
4,63 (820),Alex Molcan,35.7% (10-18),66.7% (20-10),50.0% (3-3),51.6% (33-31),27-02-2023
10,41 (964),Ben Shelton,53.3% (8-7),NaN,NaN,53.3% (8-7),27-02-2023
20,86 (649),Christopher Oconnell,35.1% (13-24),20.0% (1-4),0.0% (0-2),31.8% (14-30),27-02-2023
21,62 (821),Constant Lestienne,46.2% (12-14),0.0% (0-2),NaN,42.9% (12-16),27-02-2023
23,98 (564),Daniel Altmaier,18.2% (4-18),38.5% (10-16),40.0% (4-6),31.0% (18-40),27-02-2023
24,89 (639),Daniel Elahi Galan Riveros,44.7% (17-21),48.6% (17-18),50.0% (2-2),46.8% (36-41),27-02-2023
33,92 (603),Emilio Gomez,35.5% (11-20),50.0% (5-5),NaN,43.2% (19-25),27-02-2023
45,99 (561),Hugo Dellien,29.4% (5-12),45.0% (27-33),0.0% (0-2),40.2% (33-49),20-02-2023
49,75 (710),Jason Kubler,42.3% (11-15),50.0% (2-2),66.7% (6-3),48.7% (19-20),20-02-2023
51,44 (951),Jeffrey John Wolf,51.1% (24-23),50.0% (1-1),NaN,51.0% (25-24),27-02-2023
70,83 (653),Michael Mmoh,38.1% (16-26),25.0% (1-3),0.0% (0-2),35.4% (17-31),27-02-2023
76,80 (662),Nuno Borges,45.5% (5-6),40.0% (2-3),0.0% (0-1),41.2% (7-10),27-02-2023
79,66 (797),Pedro Cachin,36.4% (4-7),33.3% (5-10),NaN,34.6% (9-17),27-02-2023
80,81 (661),Quentin Halys,26.8% (11-30),10.0% (1-9),40.0% (2-3),25.0% (14-42),27-02-2023
97,67 (793),Yibing Wu,50.0% (10-10),NaN,NaN,52.4% (11-10),06-02-2023
99,93 (580),Zhizhen Zhang,40.0% (8-12),0.0% (0-1),0.0% (0-1),39.1% (9-14),16-01-2023

### 5. Converting column data types, seperating columns:

**a.** change % columns into float columns: 20 columns.  
**b.** columns that have a combination of 2 data types: Rank columns, Age, court surfaces, Overall, Favourite Surface.  
**c.** int/float --> Break Point Ratio, Davis Cups, Olympics, Grand Slams, Masters, Titles, Tour Finals, Team Cups, Turned Pro, Weeks at No. 1, Height/weight (need to strip cm/km),  points/games dominance, Prize Money (need to extract just the numbers).  
**d.** date --> Last Appearance, Match Time

#### 5a. Converting percent columns into floats

In [36]:
for column in df:
    if '%' in column:
        df[column] = df[column].str.rstrip("%").astype(float)/100

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 60 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              100 non-null    int64
 1   Name                    100 non-null    object
 2   1st Serve %             100 non-null    float64
 3   1st Serve Won %         100 non-null    float64
 4   1st Srv. Return Won %   100 non-null    float64
 5   2nd Serve Won %         100 non-null    float64
 6   2nd Srv. Return Won %   100 non-null    float64
 7   Ace %                   100 non-null    float64
 8   Ace Against %           100 non-null    float64
 9   Age                     100 non-null    object
 10  Backhand                96 non-null     object
 11  Best Elo Rank           100 non-null    object
 12  Best Rank               100 non-null    object
 13  Best Season             65 non-null     float64
 14  Birthplace              13 non-null     object
 15  Break Points Ratio      100 non-null    float64
 16  Break Points Saved %    100 non-null    float64
 17  Break Points Won %      100 non-null    float64
 18  Carpet                  10 non-null     object
 19  Clay                    98 non-null     object
 20  Coach                   13 non-null     object
 21  Country                 100 non-null    object
 22  Current Elo Rank        100 non-null    object
 23  Current Rank            100 non-null    object
 24  Davis Cups              15 non-null     float64
 25  Double Fault %          100 non-null    float64
 26  Double Fault Against %  100 non-null    float64
 27  Favorite Surface        100 non-null    object
 28  GOAT Rank               65 non-null     object
 29  Games Dominance         100 non-null    float64
 30  Games Won %             100 non-null    float64
 31  Grand Slams             8 non-null      float64
 32  Grass                   93 non-null     object
 33  H2H %                   84 non-null     float64
 34  Hard                    100 non-null    object
 35  Height                  94 non-null     object
 36  Last Appearance         100 non-null    object
 37  Masters                 19 non-null     float64
 38  Match Time              100 non-null    object
 39  Matches Won %           100 non-null    float64
 40  Olympics                3 non-null      float64
 41  Overall                 100 non-null    object
 42  Peak Elo Rating         100 non-null    object
 43  Plays                   99 non-null     object
 44  Points Dominance        100 non-null    float64
 45  Prize Money             98 non-null     object
 46  Residence               13 non-null     object
 47  Return Games Won %      100 non-null    float64
 48  Return Points Won %     100 non-null    float64
 49  Seasons                 100 non-null    int64
 50  Service Games Won %     100 non-null    float64
 51  Service Points Won %    100 non-null    float64
 52  Sets Won %              100 non-null    float64
 53  Team Cups               9 non-null      float64
 54  Titles                  60 non-null     float64
 55  Total Points Won %      100 non-null    float64
 56  Tour Finals             6 non-null      float64
 57  Turned Pro              93 non-null     float64
 58  Weeks at No. 1          6 non-null      float64
 59  Weight                  13 non-null     object
dtypes: float64(33), int64(2), object(25)
memory usage: 47.0+ KB

#### 5b-1. Converting columns w/ 2 data types --> Rank Columns

In [38]:
# renaming columns to split strings
df.rename(columns = {'Best Elo Rank':'Best_Elo_Rank', 'Best Rank':'Best_Rank', 'Current Elo Rank':'Current_Elo_Rank', 'Current Rank': 'Current_Rank', 'GOAT Rank': 'GOAT_Rank'}, inplace = True)

# splitting columns
df[['Best_Elo_Rank', 'Best_Elo_Rank_Date']] = df.Best_Elo_Rank.str.split("(", expand = True)
df[['Best_Rank', 'Best_Rank_Date']] = df.Best_Rank.str.split("(", expand = True)
df[['Current_Elo_Rank', 'Current_Elo_Rank_Points']] = df.Current_Elo_Rank.str.split("(", expand = True)
df[['Current_Rank', 'Current_Rank_Points']] = df.Current_Rank.str.split("(", expand = True)
df[['GOAT_Rank', 'GOAT_Rank_Points']] = df.GOAT_Rank.str.split("(", expand = True)

In [39]:
# replacing NaN values with '0' to convert rank column into int64

df[['GOAT_Rank', 'GOAT_Rank_Points']] = df[['GOAT_Rank', 'GOAT_Rank_Points']].fillna('0')

In [40]:
# converting Rank_Points columns into int64
for column in df:
    if 'Rank_Points' in column:
        df[column] = df[column].str.rstrip(")").astype('int64')

In [41]:
# converting Date columns into datetime 
df['Best_Rank_Date'] = df['Best_Rank_Date'].str.rstrip(")")
df['Best_Rank_Date'] = pd.to_datetime(df['Best_Rank_Date'], format= "%d-%m-%Y")

df['Best_Elo_Rank_Date'] = df['Best_Elo_Rank_Date'].str.rstrip(")")
df['Best_Elo_Rank_Date'] = pd.to_datetime(df['Best_Elo_Rank_Date'], format= "%d-%m-%Y")

In [42]:
# converting rest of Rank columns into int64
df[['Best_Elo_Rank','Best_Rank','Current_Elo_Rank','Current_Rank','GOAT_Rank']] = df[['Best_Elo_Rank','Best_Rank','Current_Elo_Rank','Current_Rank','GOAT_Rank']].astype('int64')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 65 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               100 non-null    int64
 1   Name                     100 non-null    object
 2   1st Serve %              100 non-null    float64
 3   1st Serve Won %          100 non-null    float64
 4   1st Srv. Return Won %    100 non-null    float64
 5   2nd Serve Won %          100 non-null    float64
 6   2nd Srv. Return Won %    100 non-null    float64
 7   Ace %                    100 non-null    float64
 8   Ace Against %            100 non-null    float64
 9   Age                      100 non-null    object
 10  Backhand                 96 non-null     object
 11  Best_Elo_Rank            100 non-null    int64
 12  Best_Rank                100 non-null    int64
 13  Best Season              65 non-null     float64
 14  Birthplace               13 non-null     object
 15  Break Points Ratio       100 non-null    float64
 16  Break Points Saved %     100 non-null    float64
 17  Break Points Won %       100 non-null    float64
 18  Carpet                   10 non-null     object
 19  Clay                     98 non-null     object
 20  Coach                    13 non-null     object
 21  Country                  100 non-null    object
 22  Current_Elo_Rank         100 non-null    int64
 23  Current_Rank             100 non-null    int64
 24  Davis Cups               15 non-null     float64
 25  Double Fault %           100 non-null    float64
 26  Double Fault Against %   100 non-null    float64
 27  Favorite Surface         100 non-null    object
 28  GOAT_Rank                100 non-null    int64
 29  Games Dominance          100 non-null    float64
 30  Games Won %              100 non-null    float64
 31  Grand Slams              8 non-null      float64
 32  Grass                    93 non-null     object
 33  H2H %                    84 non-null     float64
 34  Hard                     100 non-null    object
 35  Height                   94 non-null     object
 36  Last Appearance          100 non-null    object
 37  Masters                  19 non-null     float64
 38  Match Time               100 non-null    object
 39  Matches Won %            100 non-null    float64
 40  Olympics                 3 non-null      float64
 41  Overall                  100 non-null    object
 42  Peak Elo Rating          100 non-null    object
 43  Plays                    99 non-null     object
 44  Points Dominance         100 non-null    float64
 45  Prize Money              98 non-null     object
 46  Residence                13 non-null     object
 47  Return Games Won %       100 non-null    float64
 48  Return Points Won %      100 non-null    float64
 49  Seasons                  100 non-null    int64
 50  Service Games Won %      100 non-null    float64
 51  Service Points Won %     100 non-null    float64
 52  Sets Won %               100 non-null    float64
 53  Team Cups                9 non-null      float64
 54  Titles                   60 non-null     float64
 55  Total Points Won %       100 non-null    float64
 56  Tour Finals              6 non-null      float64
 57  Turned Pro               93 non-null     float64
 58  Weeks at No. 1           6 non-null      float64
 59  Weight                   13 non-null     object
 60  Best_Elo_Rank_Date       100 non-null    datetime64[ns]
 61  Best_Rank_Date           100 non-null    datetime64[ns]
 62  Current_Elo_Rank_Points  100 non-null    int64
 63  Current_Rank_Points      100 non-null    int64
 64  GOAT_Rank_Points         100 non-null    int64
dtypes: datetime64[ns](2), float64(33), int64(10), object(20)
memory usage: 50.9+ KB

#### 5b-2. Converting columns w/ 2 data types --> Age, Overall, Favorite Surface:

Age: Age (int64), Date_Of_Birth (datetime)  
Overall: Total_Win_Percentage (float), Total_Matches_Won (int64), Total_Matches_Lost (int64)  
Favorite Surface: Favorite_Surface (str), Favorite_Surface_Percentage (float)

In [44]:
# splitting Age and Date_of_Birth
df[['Age', 'Date_Of_Birth']] = df.Age.str.split("(", expand = True)

# converting Age to Int64
df['Age'] = df['Age'].astype('Int64')

# converting Date_Of_Birth to Datetime
df['Date_Of_Birth'] = df['Date_Of_Birth'].str.rstrip(")")
df['Date_Of_Birth'] = pd.to_datetime(df['Date_Of_Birth'], format= "%d-%m-%Y")

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 66 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               100 non-null    int64
 1   Name                     100 non-null    object
 2   1st Serve %              100 non-null    float64
 3   1st Serve Won %          100 non-null    float64
 4   1st Srv. Return Won %    100 non-null    float64
 5   2nd Serve Won %          100 non-null    float64
 6   2nd Srv. Return Won %    100 non-null    float64
 7   Ace %                    100 non-null    float64
 8   Ace Against %            100 non-null    float64
 9   Age                      100 non-null    Int64
 10  Backhand                 96 non-null     object
 11  Best_Elo_Rank            100 non-null    int64
 12  Best_Rank                100 non-null    int64
 13  Best Season              65 non-null     float64
 14  Birthplace               13 non-null     object
 15  Break Points Ratio       100 non-null    float64
 16  Break Points Saved %     100 non-null    float64
 17  Break Points Won %       100 non-null    float64
 18  Carpet                   10 non-null     object
 19  Clay                     98 non-null     object
 20  Coach                    13 non-null     object
 21  Country                  100 non-null    object
 22  Current_Elo_Rank         100 non-null    int64
 23  Current_Rank             100 non-null    int64
 24  Davis Cups               15 non-null     float64
 25  Double Fault %           100 non-null    float64
 26  Double Fault Against %   100 non-null    float64
 27  Favorite Surface         100 non-null    object
 28  GOAT_Rank                100 non-null    int64
 29  Games Dominance          100 non-null    float64
 30  Games Won %              100 non-null    float64
 31  Grand Slams              8 non-null      float64
 32  Grass                    93 non-null     object
 33  H2H %                    84 non-null     float64
 34  Hard                     100 non-null    object
 35  Height                   94 non-null     object
 36  Last Appearance          100 non-null    object
 37  Masters                  19 non-null     float64
 38  Match Time               100 non-null    object
 39  Matches Won %            100 non-null    float64
 40  Olympics                 3 non-null      float64
 41  Overall                  100 non-null    object
 42  Peak Elo Rating          100 non-null    object
 43  Plays                    99 non-null     object
 44  Points Dominance         100 non-null    float64
 45  Prize Money              98 non-null     object
 46  Residence                13 non-null     object
 47  Return Games Won %       100 non-null    float64
 48  Return Points Won %      100 non-null    float64
 49  Seasons                  100 non-null    int64
 50  Service Games Won %      100 non-null    float64
 51  Service Points Won %     100 non-null    float64
 52  Sets Won %               100 non-null    float64
 53  Team Cups                9 non-null      float64
 54  Titles                   60 non-null     float64
 55  Total Points Won %       100 non-null    float64
 56  Tour Finals              6 non-null      float64
 57  Turned Pro               93 non-null     float64
 58  Weeks at No. 1           6 non-null      float64
 59  Weight                   13 non-null     object
 60  Best_Elo_Rank_Date       100 non-null    datetime64[ns]
 61  Best_Rank_Date           100 non-null    datetime64[ns]
 62  Current_Elo_Rank_Points  100 non-null    int64
 63  Current_Rank_Points      100 non-null    int64
 64  GOAT_Rank_Points         100 non-null    int64
 65  Date_Of_Birth            100 non-null    datetime64[ns]
dtypes: Int64(1), datetime64[ns](3), float64(33), int64(10), object(19)
memory usage: 51.8+ KB

In [46]:
# splitting Overall to Total_Win_Percentage, Total_Matches_Won, Total_Matches_Lost 
df[['Total_Win_Percentage', 'Match_Record']] = df.Overall.str.split("(", expand = True)
df[['Total_Matches_Won', 'Total_Matches_Lost']] = df.Match_Record.str.split("-", expand = True)

# converting to appropriate datatypes
df['Total_Matches_Won'] = df['Total_Matches_Won'].astype("int64")
df['Total_Matches_Lost'] = df['Total_Matches_Lost'].str.rstrip(")").astype("int64")
df['Total_Win_Percentage'] = df['Total_Win_Percentage'].str.replace("%","").astype("float")/100

In [47]:
# dropping Overall and Match_Record
df = df.drop(['Overall', 'Match_Record'], axis=1)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               100 non-null    int64
 1   Name                     100 non-null    object
 2   1st Serve %              100 non-null    float64
 3   1st Serve Won %          100 non-null    float64
 4   1st Srv. Return Won %    100 non-null    float64
 5   2nd Serve Won %          100 non-null    float64
 6   2nd Srv. Return Won %    100 non-null    float64
 7   Ace %                    100 non-null    float64
 8   Ace Against %            100 non-null    float64
 9   Age                      100 non-null    Int64
 10  Backhand                 96 non-null     object
 11  Best_Elo_Rank            100 non-null    int64
 12  Best_Rank                100 non-null    int64
 13  Best Season              65 non-null     float64
 14  Birthplace               13 non-null     object
 15  Break Points Ratio       100 non-null    float64
 16  Break Points Saved %     100 non-null    float64
 17  Break Points Won %       100 non-null    float64
 18  Carpet                   10 non-null     object
 19  Clay                     98 non-null     object
 20  Coach                    13 non-null     object
 21  Country                  100 non-null    object
 22  Current_Elo_Rank         100 non-null    int64
 23  Current_Rank             100 non-null    int64
 24  Davis Cups               15 non-null     float64
 25  Double Fault %           100 non-null    float64
 26  Double Fault Against %   100 non-null    float64
 27  Favorite Surface         100 non-null    object
 28  GOAT_Rank                100 non-null    int64
 29  Games Dominance          100 non-null    float64
 30  Games Won %              100 non-null    float64
 31  Grand Slams              8 non-null      float64
 32  Grass                    93 non-null     object
 33  H2H %                    84 non-null     float64
 34  Hard                     100 non-null    object
 35  Height                   94 non-null     object
 36  Last Appearance          100 non-null    object
 37  Masters                  19 non-null     float64
 38  Match Time               100 non-null    object
 39  Matches Won %            100 non-null    float64
 40  Olympics                 3 non-null      float64
 41  Peak Elo Rating          100 non-null    object
 42  Plays                    99 non-null     object
 43  Points Dominance         100 non-null    float64
 44  Prize Money              98 non-null     object
 45  Residence                13 non-null     object
 46  Return Games Won %       100 non-null    float64
 47  Return Points Won %      100 non-null    float64
 48  Seasons                  100 non-null    int64
 49  Service Games Won %      100 non-null    float64
 50  Service Points Won %     100 non-null    float64
 51  Sets Won %               100 non-null    float64
 52  Team Cups                9 non-null      float64
 53  Titles                   60 non-null     float64
 54  Total Points Won %       100 non-null    float64
 55  Tour Finals              6 non-null      float64
 56  Turned Pro               93 non-null     float64
 57  Weeks at No. 1           6 non-null      float64
 58  Weight                   13 non-null     object
 59  Best_Elo_Rank_Date       100 non-null    datetime64[ns]
 60  Best_Rank_Date           100 non-null    datetime64[ns]
 61  Current_Elo_Rank_Points  100 non-null    int64
 62  Current_Rank_Points      100 non-null    int64
 63  GOAT_Rank_Points         100 non-null    int64
 64  Date_Of_Birth            100 non-null    datetime64[ns]
 65  Total_Win_Percentage     100 non-null    float64
 66  Total_Matches_Won        100 non-null    int64
 67  Total_Matches_Lost       100 non-null    int64
dtypes: Int64(1), datetime64[ns](3), float64(34), int64(12), object(18)
memory usage: 53.3+ KB

In [49]:
# renaming Favorite Surface to Favorite_Surface to be able to split
df.rename(columns = {'Favorite Surface':'Favorite_Surface'}, inplace = True)

In [50]:
# splitting Favorite_Surface to Favorite_Surface and Favorite_Surface_%
df[["Favorite_Surface", "Favorite_Surface_%"]] = df['Favorite_Surface'].str.partition(' ')[[0, 2]]
#df.head(10)

In [51]:
# removing all non-digits in Favorite_Surface_%
df['Favorite_Surface_%'] = df['Favorite_Surface_%'].str.replace('\D', '', regex=True)

In [52]:
# renaming cells w/ Fast, Slow, Soft to Fast (H, G), Slow (H, Cl), Soft (Cl, G)

df['Favorite_Surface'] = df['Favorite_Surface'].replace('Fast', 'Fast (H, G)')
df['Favorite_Surface'] = df['Favorite_Surface'].replace('Slow', 'Slow (H, Cl)')
df['Favorite_Surface'] = df['Favorite_Surface'].replace('Soft', 'Soft (Cl, G)')

In [53]:
# converting Favorite_Surface_% to float

df['Favorite_Surface_%'] = df['Favorite_Surface_%'].astype(float)/100

In [54]:
df[['Age', 'Favorite_Surface', 'Date_Of_Birth', 'Favorite_Surface_%', 'Total_Win_Percentage', 'Total_Matches_Won', 'Total_Matches_Lost']].head(10)

,Age,Favorite_Surface,Date_Of_Birth,Favorite_Surface_%,Total_Win_Percentage,Total_Matches_Won,Total_Matches_Lost
0,34,Grass,1988-06-29,0.53,0.460,250,294
1,35,Clay,1988-01-17,0.53,0.470,270,304
2,23,Clay,1999-06-05,0.25,0.497,71,72
3,24,"Fast (H, G)",1999-02-17,0.34,0.588,157,110
4,25,Clay,1997-12-01,0.47,0.516,33,31
5,25,Grass,1997-06-17,0.38,0.500,105,105
6,25,Clay,1997-04-20,0.17,0.684,336,155
7,25,All-Rounder,1997-10-20,0.06,0.640,238,134
8,35,Grass,1987-05-15,0.27,0.755,723,235
9,27,"Slow (H, Cl)",1995-07-23,0.24,0.494,41,42

#### 5b-3. Converting columns w/ 2 data types --> Court Surfaces (Hard, Clay, Carpet, Grass)

In [55]:
df[['Hard', 'Clay', 'Carpet', 'Grass']] = df[['Hard', 'Clay', 'Carpet', 'Grass']].fillna('0% (0-0)')

df.head()

,Unnamed: 0,Name,1st Serve %,1st Serve Won %,1st Srv. Return Won %,2nd Serve Won %,2nd Srv. Return Won %,Ace %,Ace Against %,Age,Backhand,Best_Elo_Rank,Best_Rank,Best Season,Birthplace,Break Points Ratio,Break Points Saved %,Break Points Won %,Carpet,Clay,Coach,Country,Current_Elo_Rank,Current_Rank,Davis Cups,Double Fault %,Double Fault Against %,Favorite_Surface,GOAT_Rank,Games Dominance,Games Won %,Grand Slams,Grass,H2H %,Hard,Height,Last Appearance,Masters,Match Time,Matches Won %,Olympics,Peak Elo Rating,Plays,Points Dominance,Prize Money,Residence,Return Games Won %,Return Points Won %,Seasons,Service Games Won %,Service Points Won %,Sets Won %,Team Cups,Titles,Total Points Won %,Tour Finals,Turned Pro,Weeks at No. 1,Weight,Best_Elo_Rank_Date,Best_Rank_Date,Current_Elo_Rank_Points,Current_Rank_Points,GOAT_Rank_Points,Date_Of_Birth,Total_Win_Percentage,Total_Matches_Won,Total_Matches_Lost,Favorite_Surface_%
0,0,Adrian Mannarino,0.604,0.696,0.283,0.508,0.498,0.061,0.092,34,Two-handed,29,22,2019.0,NaN,1.00,0.593,0.409,0% (0-0),22.4% (15-52),NaN,France,60,68,NaN,0.033,0.038,Grass,388,0.91,0.489,NaN,57.6% (57-42),0.358,47.1% (178-200),183 cm,27-02-2023,NaN,1:41,0.460,NaN,2004 (29-01-2018),Left-handed,0.97,"US$8,880,161",NaN,0.217,0.368,16,0.762,0.621,0.462,NaN,2.0,0.495,NaN,2004.0,NaN,NaN,2018-01-15,2018-03-19,1888,791,3,1988-06-29,0.460,250,294,0.53
1,1,Albert Ramos,0.623,0.677,0.296,0.516,0.502,0.042,0.072,35,Two-handed,25,17,2016.0,NaN,1.04,0.609,0.405,0% (0-0),55.1% (190-155),NaN,Spain,94,50,NaN,0.031,0.037,Clay,270,0.97,0.494,NaN,26.1% (6-17),0.411,35.9% (74-132),188 cm,27-02-2023,NaN,1:54,0.470,NaN,2014 (01-05-2017),Left-handed,0.98,"US$8,162,087",NaN,0.231,0.376,14,0.762,0.616,0.469,NaN,4.0,0.496,NaN,2007.0,NaN,NaN,2017-05-01,2017-05-08,1809,890,7,1988-01-17,0.470,270,304,0.53
2,2,Alejandro Davidovich Fokina,0.674,0.652,0.320,0.497,0.509,0.030,0.069,23,Two-handed,24,27,2022.0,NaN,0.95,0.570,0.410,0% (0-0),54.5% (30-25),NaN,Spain,41,28,NaN,0.033,0.035,Clay,428,0.97,0.498,NaN,40.0% (4-6),0.333,47.4% (37-41),183 cm,27-02-2023,NaN,2:00,0.497,NaN,1998 (13-06-2021),Right-handed,0.99,"US$ 2,733,019",NaN,0.267,0.393,5,0.725,0.602,0.500,NaN,NaN,0.498,NaN,2019.0,NaN,NaN,2021-06-13,2022-04-18,1926,1390,3,1999-06-05,0.497,71,72,0.25
3,3,Alex De Minaur,0.602,0.701,0.309,0.528,0.515,0.045,0.069,24,Two-handed,15,15,2019.0,NaN,1.09,0.615,0.419,0% (0-0),40.5% (15-22),NaN,Australia,15,18,NaN,0.032,0.037,"Fast (H, G)",212,1.18,0.518,NaN,59.4% (19-13),0.636,62.1% (123-75),183 cm,27-02-2023,NaN,1:56,0.588,NaN,2083 (06-03-2023),Right-handed,1.06,"US$6,834,777",NaN,0.250,0.389,7,0.788,0.632,0.563,NaN,7.0,0.510,NaN,2015.0,NaN,NaN,2023-03-06,2021-06-28,2083,2165,11,1999-02-17,0.588,157,110,0.34
4,4,Alex Molcan,0.650,0.669,0.308,0.524,0.508,0.046,0.078,25,Two-handed,41,38,NaN,NaN,0.96,0.586,0.396,0% (0-0),66.7% (20-10),NaN,Slovakia,74,63,NaN,0.030,0.029,Clay,0,0.98,0.497,NaN,50.0% (3-3),NaN,35.7% (10-18),178 cm,27-02-2023,NaN,1:49,0.516,NaN,1941 (25-07-2022),Left-handed,1.00,"$764,855",NaN,0.238,0.381,3,0.757,0.618,0.500,NaN,NaN,0.499,NaN,2015.0,NaN,NaN,2022-07-25,2022-05-23,1852,820,0,1997-12-01,0.516,33,31,0.47

In [56]:
# splitting Hard to Hard_Win_Percentage, Hard_Matches_Won, Hard_Matches_Lost 
df[['Hard_Win_Percentage', 'Hard_Record']] = df.Hard.str.split("(", expand = True)
df[['Hard_Matches_Won', 'Hard_Matches_Lost']] = df.Hard_Record.str.split("-", expand = True)

# splitting Clay to Clay_Win_Percentage, Clay_Matches_Won, Clay_Matches_Lost 
df[['Clay_Win_Percentage', 'Clay_Record']] = df.Clay.str.split("(", expand = True)
df[['Clay_Matches_Won', 'Clay_Matches_Lost']] = df.Clay_Record.str.split("-", expand = True)

# splitting Carpet to Carpet_Win_Percentage, Carpet_Matches_Won, Carpet_Matches_Lost 
df[['Carpet_Win_Percentage', 'Carpet_Record']] = df.Carpet.str.split("(", expand = True)
df[['Carpet_Matches_Won', 'Carpet_Matches_Lost']] = df.Carpet_Record.str.split("-", expand = True)

# splitting Grass to Grass_Win_Percentage, Grass_Matches_Won, Grass_Matches_Lost 
df[['Grass_Win_Percentage', 'Grass_Record']] = df.Grass.str.split("(", expand = True)
df[['Grass_Matches_Won', 'Grass_Matches_Lost']] = df.Grass_Record.str.split("-", expand = True)

In [57]:
df.iloc[[10,97]]

,Unnamed: 0,Name,1st Serve %,1st Serve Won %,1st Srv. Return Won %,2nd Serve Won %,2nd Srv. Return Won %,Ace %,Ace Against %,Age,Backhand,Best_Elo_Rank,Best_Rank,Best Season,Birthplace,Break Points Ratio,Break Points Saved %,Break Points Won %,Carpet,Clay,Coach,Country,Current_Elo_Rank,Current_Rank,Davis Cups,Double Fault %,Double Fault Against %,Favorite_Surface,GOAT_Rank,Games Dominance,Games Won %,Grand Slams,Grass,H2H %,Hard,Height,Last Appearance,Masters,Match Time,Matches Won %,Olympics,Peak Elo Rating,Plays,Points Dominance,Prize Money,Residence,Return Games Won %,Return Points Won %,Seasons,Service Games Won %,Service Points Won %,Sets Won %,Team Cups,Titles,Total Points Won %,Tour Finals,Turned Pro,Weeks at No. 1,Weight,Best_Elo_Rank_Date,Best_Rank_Date,Current_Elo_Rank_Points,Current_Rank_Points,GOAT_Rank_Points,Date_Of_Birth,Total_Win_Percentage,Total_Matches_Won,Total_Matches_Lost,Favorite_Surface_%,Hard_Win_Percentage,Hard_Record,Hard_Matches_Won,Hard_Matches_Lost,Clay_Win_Percentage,Clay_Record,Clay_Matches_Won,Clay_Matches_Lost,Carpet_Win_Percentage,Carpet_Record,Carpet_Matches_Won,Carpet_Matches_Lost,Grass_Win_Percentage,Grass_Record,Grass_Matches_Won,Grass_Matches_Lost
10,10,Ben Shelton,0.611,0.781,0.250,0.532,0.408,0.114,0.081,20,NaN,80,41,2023.0,NaN,1.01,0.647,0.357,0% (0-0),0% (0-0),NaN,United States,86,41,NaN,0.056,0.041,Hard,630,0.81,0.504,NaN,0% (0-0),NaN,53.3% (8-7),NaN,27-02-2023,NaN,1:52,0.533,NaN,1839 (30-01-2023),NaN,0.95,NaN,NaN,0.115,0.301,2,0.859,0.684,0.543,NaN,NaN,0.492,NaN,NaN,NaN,NaN,2023-02-13,2023-02-06,1824,964,1,2002-10-09,0.533,8,7,1.0,53.3%,8-7),8,7),0%,0-0),0,0),0%,0-0),0,0),0%,0-0),0,0)
97,97,Yibing Wu,0.595,0.700,0.303,0.535,0.436,0.061,0.101,23,Two-handed,77,58,NaN,NaN,1.05,0.654,0.362,0% (0-0),0% (0-0),NaN,China,78,67,NaN,0.027,0.037,Hard,0,0.84,0.484,NaN,0% (0-0),NaN,50.0% (10-10),183 cm,06-02-2023,NaN,1:53,0.524,NaN,1845 (13-02-2023),Right-handed,0.96,"US$114,311",NaN,0.175,0.351,5,0.792,0.633,0.492,NaN,1.0,0.495,NaN,2017.0,NaN,NaN,2023-02-20,2023-02-13,1845,793,0,1999-10-14,0.524,11,10,1.0,50.0%,10-10),10,10),0%,0-0),0,0),0%,0-0),0,0),0%,0-0),0,0)

In [58]:
# converting to appropriate datatypes
df['Hard_Matches_Won'] = df['Hard_Matches_Won'].astype("int64")
df['Hard_Matches_Lost'] = df['Hard_Matches_Lost'].str.rstrip(")").astype("int64")
df['Hard_Win_Percentage'] = df['Hard_Win_Percentage'].str.replace("%","").astype("float")/100

df['Clay_Matches_Won'] = df['Clay_Matches_Won'].astype("int64")
df['Clay_Matches_Lost'] = df['Clay_Matches_Lost'].str.rstrip(")").astype("int64")
df['Clay_Win_Percentage'] = df['Clay_Win_Percentage'].str.replace("%","").astype("float")/100

df['Carpet_Matches_Won'] = df['Carpet_Matches_Won'].astype("int64")
df['Carpet_Matches_Lost'] = df['Carpet_Matches_Lost'].str.rstrip(")").astype("int64")
df['Carpet_Win_Percentage'] = df['Carpet_Win_Percentage'].str.replace("%","").astype("float")/100

df['Grass_Matches_Won'] = df['Grass_Matches_Won'].astype("int64")
df['Grass_Matches_Lost'] = df['Grass_Matches_Lost'].str.rstrip(")").astype("int64")
df['Grass_Win_Percentage'] = df['Grass_Win_Percentage'].str.replace("%","").astype("float")/100

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 85 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               100 non-null    int64
 1   Name                     100 non-null    object
 2   1st Serve %              100 non-null    float64
 3   1st Serve Won %          100 non-null    float64
 4   1st Srv. Return Won %    100 non-null    float64
 5   2nd Serve Won %          100 non-null    float64
 6   2nd Srv. Return Won %    100 non-null    float64
 7   Ace %                    100 non-null    float64
 8   Ace Against %            100 non-null    float64
 9   Age                      100 non-null    Int64
 10  Backhand                 96 non-null     object
 11  Best_Elo_Rank            100 non-null    int64
 12  Best_Rank                100 non-null    int64
 13  Best Season              65 non-null     float64
 14  Birthplace               13 non-null     object
 15  Break Points Ratio       100 non-null    float64
 16  Break Points Saved %     100 non-null    float64
 17  Break Points Won %       100 non-null    float64
 18  Carpet                   100 non-null    object
 19  Clay                     100 non-null    object
 20  Coach                    13 non-null     object
 21  Country                  100 non-null    object
 22  Current_Elo_Rank         100 non-null    int64
 23  Current_Rank             100 non-null    int64
 24  Davis Cups               15 non-null     float64
 25  Double Fault %           100 non-null    float64
 26  Double Fault Against %   100 non-null    float64
 27  Favorite_Surface         100 non-null    object
 28  GOAT_Rank                100 non-null    int64
 29  Games Dominance          100 non-null    float64
 30  Games Won %              100 non-null    float64
 31  Grand Slams              8 non-null      float64
 32  Grass                    100 non-null    object
 33  H2H %                    84 non-null     float64
 34  Hard                     100 non-null    object
 35  Height                   94 non-null     object
 36  Last Appearance          100 non-null    object
 37  Masters                  19 non-null     float64
 38  Match Time               100 non-null    object
 39  Matches Won %            100 non-null    float64
 40  Olympics                 3 non-null      float64
 41  Peak Elo Rating          100 non-null    object
 42  Plays                    99 non-null     object
 43  Points Dominance         100 non-null    float64
 44  Prize Money              98 non-null     object
 45  Residence                13 non-null     object
 46  Return Games Won %       100 non-null    float64
 47  Return Points Won %      100 non-null    float64
 48  Seasons                  100 non-null    int64
 49  Service Games Won %      100 non-null    float64
 50  Service Points Won %     100 non-null    float64
 51  Sets Won %               100 non-null    float64
 52  Team Cups                9 non-null      float64
 53  Titles                   60 non-null     float64
 54  Total Points Won %       100 non-null    float64
 55  Tour Finals              6 non-null      float64
 56  Turned Pro               93 non-null     float64
 57  Weeks at No. 1           6 non-null      float64
 58  Weight                   13 non-null     object
 59  Best_Elo_Rank_Date       100 non-null    datetime64[ns]
 60  Best_Rank_Date           100 non-null    datetime64[ns]
 61  Current_Elo_Rank_Points  100 non-null    int64
 62  Current_Rank_Points      100 non-null    int64
 63  GOAT_Rank_Points         100 non-null    int64
 64  Date_Of_Birth            100 non-null    datetime64[ns]
 65  Total_Win_Percentage     100 non-null    float64
 66  Total_Matches_Won        100 non-null    int64
 67  Total_Matches_Lost       100 non-null    int64
 68  Favorite_Surface_%       100 non-null    float64
 69  Hard_Win_Percentage      100 non-null    float64
 70  Hard_Record              100 non-null    object
 71  Hard_Matches_Won         100 non-null    int64
 72  Hard_Matches_Lost        100 non-null    int64
 73  Clay_Win_Percentage      100 non-null    float64
 74  Clay_Record              100 non-null    object
 75  Clay_Matches_Won         100 non-null    int64
 76  Clay_Matches_Lost        100 non-null    int64
 77  Carpet_Win_Percentage    100 non-null    float64
 78  Carpet_Record            100 non-null    object
 79  Carpet_Matches_Won       100 non-null    int64
 80  Carpet_Matches_Lost      100 non-null    int64
 81  Grass_Win_Percentage     100 non-null    float64
 82  Grass_Record             100 non-null    object
 83  Grass_Matches_Won        100 non-null    int64
 84  Grass_Matches_Lost       100 non-null    int64
dtypes: Int64(1), datetime64[ns](3), float64(39), int64(20), object(22)
memory usage: 66.6+ KB

In [59]:
# dropping columns
df = df.drop(['Hard', 'Clay', 'Carpet', 'Grass', 'Hard_Record', 'Clay_Record', 'Carpet_Record', 'Grass_Record'], axis=1)

#### Save/Reload Data:

In [66]:
# Saving Dataset:
df.to_csv('atp_cleaning_3_2.csv', index=False)

In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
 
# Reloading Dataset:
df = pd.read_csv(r"C:\Users\dwbae\OneDrive\Desktop\ATP_Web_Scrape\atp_cleaning_3_2.csv")

In [5]:
# checking if columns were created correctly 
df[['Name','Hard_Matches_Won', 'Hard_Matches_Lost', 'Hard_Win_Percentage', 'Clay_Matches_Won', 'Clay_Matches_Lost', 'Clay_Win_Percentage', 'Carpet_Matches_Won', 'Carpet_Matches_Lost', 'Carpet_Win_Percentage', 'Grass_Matches_Won', 'Grass_Matches_Lost', 'Grass_Win_Percentage']].head(7)

,Name,Hard_Matches_Won,Hard_Matches_Lost,Hard_Win_Percentage,Clay_Matches_Won,Clay_Matches_Lost,Clay_Win_Percentage,Carpet_Matches_Won,Carpet_Matches_Lost,Carpet_Win_Percentage,Grass_Matches_Won,Grass_Matches_Lost,Grass_Win_Percentage
0,Adrian Mannarino,178,200,0.471,15,52,0.224,0,0,0.0,57,42,0.576
1,Albert Ramos,74,132,0.359,190,155,0.551,0,0,0.0,6,17,0.261
2,Alejandro Davidovich Fokina,37,41,0.474,30,25,0.545,0,0,0.0,4,6,0.400
3,Alex De Minaur,123,75,0.621,15,22,0.405,0,0,0.0,19,13,0.594
4,Alex Molcan,10,18,0.357,20,10,0.667,0,0,0.0,3,3,0.500
5,Alexander Bublik,74,74,0.500,11,18,0.379,0,0,0.0,20,13,0.606
6,Alexander Zverev,202,97,0.676,106,42,0.716,0,0,0.0,28,16,0.636

#### 5c. Converting other Int/Float Columns:

Break Point Ratio, Davis Cups, Olympics, Grand Slams, Masters, Titles, Tour Finals, Team Cups, Turned Pro, Weeks at No. 1, Height/weight (need to strip cm/km),  points/games dominance, Prize Money (need to extract just the numbers).

In [6]:
df.info()

# some columns are Floats when they are no supposed to be. e.g. Best Season. I DID NOT CHANGE THEM TO FLOAT (MAYBE WHEN I LOADED THE DATASET BACK IN AFTER FIXING PROGRESS BAR ISSUE?)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 78 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0.1             100 non-null    int64
 1   Unnamed: 0               100 non-null    int64
 2   Name                     100 non-null    object
 3   1st Serve %              100 non-null    float64
 4   1st Serve Won %          100 non-null    float64
 5   1st Srv. Return Won %    100 non-null    float64
 6   2nd Serve Won %          100 non-null    float64
 7   2nd Srv. Return Won %    100 non-null    float64
 8   Ace %                    100 non-null    float64
 9   Ace Against %            100 non-null    float64
 10  Age                      100 non-null    int64
 11  Backhand                 96 non-null     object
 12  Best_Elo_Rank            100 non-null    int64
 13  Best_Rank                100 non-null    int64
 14  Best Season              65 non-null     float64
 15  Birthplace               13 non-null     object
 16  Break Points Ratio       100 non-null    float64
 17  Break Points Saved %     100 non-null    float64
 18  Break Points Won %       100 non-null    float64
 19  Coach                    13 non-null     object
 20  Country                  100 non-null    object
 21  Current_Elo_Rank         100 non-null    int64
 22  Current_Rank             100 non-null    int64
 23  Davis Cups               15 non-null     float64
 24  Double Fault %           100 non-null    float64
 25  Double Fault Against %   100 non-null    float64
 26  Favorite_Surface         100 non-null    object
 27  GOAT_Rank                100 non-null    int64
 28  Games Dominance          100 non-null    float64
 29  Games Won %              100 non-null    float64
 30  Grand Slams              8 non-null      float64
 31  H2H %                    84 non-null     float64
 32  Height                   94 non-null     object
 33  Last Appearance          100 non-null    object
 34  Masters                  19 non-null     float64
 35  Match Time               100 non-null    object
 36  Matches Won %            100 non-null    float64
 37  Olympics                 3 non-null      float64
 38  Peak Elo Rating          100 non-null    object
 39  Plays                    99 non-null     object
 40  Points Dominance         100 non-null    float64
 41  Prize Money              98 non-null     object
 42  Residence                13 non-null     object
 43  Return Games Won %       100 non-null    float64
 44  Return Points Won %      100 non-null    float64
 45  Seasons                  100 non-null    int64
 46  Service Games Won %      100 non-null    float64
 47  Service Points Won %     100 non-null    float64
 48  Sets Won %               100 non-null    float64
 49  Team Cups                9 non-null      float64
 50  Titles                   60 non-null     float64
 51  Total Points Won %       100 non-null    float64
 52  Tour Finals              6 non-null      float64
 53  Turned Pro               93 non-null     float64
 54  Weeks at No. 1           6 non-null      float64
 55  Weight                   13 non-null     object
 56  Best_Elo_Rank_Date       100 non-null    object
 57  Best_Rank_Date           100 non-null    object
 58  Current_Elo_Rank_Points  100 non-null    int64
 59  Current_Rank_Points      100 non-null    int64
 60  GOAT_Rank_Points         100 non-null    int64
 61  Date_Of_Birth            100 non-null    object
 62  Total_Win_Percentage     100 non-null    float64
 63  Total_Matches_Won        100 non-null    int64
 64  Total_Matches_Lost       100 non-null    int64
 65  Favorite_Surface_%       100 non-null    float64
 66  Hard_Win_Percentage      100 non-null    float64
 67  Hard_Matches_Won         100 non-null    int64
 68  Hard_Matches_Lost        100 non-null    int64
 69  Clay_Win_Percentage      100 non-null    float64
 70  Clay_Matches_Won         100 non-null    int64
 71  Clay_Matches_Lost        100 non-null    int64
 72  Carpet_Win_Percentage    100 non-null    float64
 73  Carpet_Matches_Won       100 non-null    int64
 74  Carpet_Matches_Lost      100 non-null    int64
 75  Grass_Win_Percentage     100 non-null    float64
 76  Grass_Matches_Won        100 non-null    int64
 77  Grass_Matches_Lost       100 non-null    int64
dtypes: float64(39), int64(22), object(17)
memory usage: 61.1+ KB

In [7]:
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [8]:
df.info()

# float: Break Points Ratio, 
# Integer: Best Season,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 76 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     100 non-null    object
 1   1st Serve %              100 non-null    float64
 2   1st Serve Won %          100 non-null    float64
 3   1st Srv. Return Won %    100 non-null    float64
 4   2nd Serve Won %          100 non-null    float64
 5   2nd Srv. Return Won %    100 non-null    float64
 6   Ace %                    100 non-null    float64
 7   Ace Against %            100 non-null    float64
 8   Age                      100 non-null    int64
 9   Backhand                 96 non-null     object
 10  Best_Elo_Rank            100 non-null    int64
 11  Best_Rank                100 non-null    int64
 12  Best Season              65 non-null     float64
 13  Birthplace               13 non-null     object
 14  Break Points Ratio       100 non-null    float64
 15  Break Points Saved %     100 non-null    float64
 16  Break Points Won %       100 non-null    float64
 17  Coach                    13 non-null     object
 18  Country                  100 non-null    object
 19  Current_Elo_Rank         100 non-null    int64
 20  Current_Rank             100 non-null    int64
 21  Davis Cups               15 non-null     float64
 22  Double Fault %           100 non-null    float64
 23  Double Fault Against %   100 non-null    float64
 24  Favorite_Surface         100 non-null    object
 25  GOAT_Rank                100 non-null    int64
 26  Games Dominance          100 non-null    float64
 27  Games Won %              100 non-null    float64
 28  Grand Slams              8 non-null      float64
 29  H2H %                    84 non-null     float64
 30  Height                   94 non-null     object
 31  Last Appearance          100 non-null    object
 32  Masters                  19 non-null     float64
 33  Match Time               100 non-null    object
 34  Matches Won %            100 non-null    float64
 35  Olympics                 3 non-null      float64
 36  Peak Elo Rating          100 non-null    object
 37  Plays                    99 non-null     object
 38  Points Dominance         100 non-null    float64
 39  Prize Money              98 non-null     object
 40  Residence                13 non-null     object
 41  Return Games Won %       100 non-null    float64
 42  Return Points Won %      100 non-null    float64
 43  Seasons                  100 non-null    int64
 44  Service Games Won %      100 non-null    float64
 45  Service Points Won %     100 non-null    float64
 46  Sets Won %               100 non-null    float64
 47  Team Cups                9 non-null      float64
 48  Titles                   60 non-null     float64
 49  Total Points Won %       100 non-null    float64
 50  Tour Finals              6 non-null      float64
 51  Turned Pro               93 non-null     float64
 52  Weeks at No. 1           6 non-null      float64
 53  Weight                   13 non-null     object
 54  Best_Elo_Rank_Date       100 non-null    object
 55  Best_Rank_Date           100 non-null    object
 56  Current_Elo_Rank_Points  100 non-null    int64
 57  Current_Rank_Points      100 non-null    int64
 58  GOAT_Rank_Points         100 non-null    int64
 59  Date_Of_Birth            100 non-null    object
 60  Total_Win_Percentage     100 non-null    float64
 61  Total_Matches_Won        100 non-null    int64
 62  Total_Matches_Lost       100 non-null    int64
 63  Favorite_Surface_%       100 non-null    float64
 64  Hard_Win_Percentage      100 non-null    float64
 65  Hard_Matches_Won         100 non-null    int64
 66  Hard_Matches_Lost        100 non-null    int64
 67  Clay_Win_Percentage      100 non-null    float64
 68  Clay_Matches_Won         100 non-null    int64
 69  Clay_Matches_Lost        100 non-null    int64
 70  Carpet_Win_Percentage    100 non-null    float64
 71  Carpet_Matches_Won       100 non-null    int64
 72  Carpet_Matches_Lost      100 non-null    int64
 73  Grass_Win_Percentage     100 non-null    float64
 74  Grass_Matches_Won        100 non-null    int64
 75  Grass_Matches_Lost       100 non-null    int64
dtypes: float64(39), int64(20), object(17)
memory usage: 59.5+ KB

In [9]:
# Object: Best Season, Turned Pro
# Integer (Fill Na as '0'): Davis Cups, Grand Slams, Masters, Olympics, Team Cups, Titles, Tour Finals, Weeks at No. 1
# Integer (Strip all non digits): Prize Money, Height (add MISSING data)
# Datetime: Last Appearance, Match Time (hr:min), Best_Elo_Rank_Date, Best_Rank_Date, Date_Of_Birth
# Drop: Weight (Too many Missing values), Peak Elo Rating 

df.head(1)

,Name,1st Serve %,1st Serve Won %,1st Srv. Return Won %,2nd Serve Won %,2nd Srv. Return Won %,Ace %,Ace Against %,Age,Backhand,Best_Elo_Rank,Best_Rank,Best Season,Birthplace,Break Points Ratio,Break Points Saved %,Break Points Won %,Coach,Country,Current_Elo_Rank,Current_Rank,Davis Cups,Double Fault %,Double Fault Against %,Favorite_Surface,GOAT_Rank,Games Dominance,Games Won %,Grand Slams,H2H %,Height,Last Appearance,Masters,Match Time,Matches Won %,Olympics,Peak Elo Rating,Plays,Points Dominance,Prize Money,Residence,Return Games Won %,Return Points Won %,Seasons,Service Games Won %,Service Points Won %,Sets Won %,Team Cups,Titles,Total Points Won %,Tour Finals,Turned Pro,Weeks at No. 1,Weight,Best_Elo_Rank_Date,Best_Rank_Date,Current_Elo_Rank_Points,Current_Rank_Points,GOAT_Rank_Points,Date_Of_Birth,Total_Win_Percentage,Total_Matches_Won,Total_Matches_Lost,Favorite_Surface_%,Hard_Win_Percentage,Hard_Matches_Won,Hard_Matches_Lost,Clay_Win_Percentage,Clay_Matches_Won,Clay_Matches_Lost,Carpet_Win_Percentage,Carpet_Matches_Won,Carpet_Matches_Lost,Grass_Win_Percentage,Grass_Matches_Won,Grass_Matches_Lost
0,Adrian Mannarino,0.604,0.696,0.283,0.508,0.498,0.061,0.092,34,Two-handed,29,22,2019.0,NaN,1.0,0.593,0.409,NaN,France,60,68,NaN,0.033,0.038,Grass,388,0.91,0.489,NaN,0.358,183 cm,27-02-2023,NaN,1:41,0.46,NaN,2004 (29-01-2018),Left-handed,0.97,"US$8,880,161",NaN,0.217,0.368,16,0.762,0.621,0.462,NaN,2.0,0.495,NaN,2004.0,NaN,NaN,2018-01-15,2018-03-19,1888,791,3,1988-06-29,0.46,250,294,0.53,0.471,178,200,0.224,15,52,0.0,0,0,0.576,57,42

In [10]:
# Converting to object
df = df.astype({'Best Season':'object','Turned Pro':'object'})

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 76 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     100 non-null    object
 1   1st Serve %              100 non-null    float64
 2   1st Serve Won %          100 non-null    float64
 3   1st Srv. Return Won %    100 non-null    float64
 4   2nd Serve Won %          100 non-null    float64
 5   2nd Srv. Return Won %    100 non-null    float64
 6   Ace %                    100 non-null    float64
 7   Ace Against %            100 non-null    float64
 8   Age                      100 non-null    int64
 9   Backhand                 96 non-null     object
 10  Best_Elo_Rank            100 non-null    int64
 11  Best_Rank                100 non-null    int64
 12  Best Season              65 non-null     object
 13  Birthplace               13 non-null     object
 14  Break Points Ratio       100 non-null    float64
 15  Break Points Saved %     100 non-null    float64
 16  Break Points Won %       100 non-null    float64
 17  Coach                    13 non-null     object
 18  Country                  100 non-null    object
 19  Current_Elo_Rank         100 non-null    int64
 20  Current_Rank             100 non-null    int64
 21  Davis Cups               15 non-null     float64
 22  Double Fault %           100 non-null    float64
 23  Double Fault Against %   100 non-null    float64
 24  Favorite_Surface         100 non-null    object
 25  GOAT_Rank                100 non-null    int64
 26  Games Dominance          100 non-null    float64
 27  Games Won %              100 non-null    float64
 28  Grand Slams              8 non-null      float64
 29  H2H %                    84 non-null     float64
 30  Height                   94 non-null     object
 31  Last Appearance          100 non-null    object
 32  Masters                  19 non-null     float64
 33  Match Time               100 non-null    object
 34  Matches Won %            100 non-null    float64
 35  Olympics                 3 non-null      float64
 36  Peak Elo Rating          100 non-null    object
 37  Plays                    99 non-null     object
 38  Points Dominance         100 non-null    float64
 39  Prize Money              98 non-null     object
 40  Residence                13 non-null     object
 41  Return Games Won %       100 non-null    float64
 42  Return Points Won %      100 non-null    float64
 43  Seasons                  100 non-null    int64
 44  Service Games Won %      100 non-null    float64
 45  Service Points Won %     100 non-null    float64
 46  Sets Won %               100 non-null    float64
 47  Team Cups                9 non-null      float64
 48  Titles                   60 non-null     float64
 49  Total Points Won %       100 non-null    float64
 50  Tour Finals              6 non-null      float64
 51  Turned Pro               93 non-null     object
 52  Weeks at No. 1           6 non-null      float64
 53  Weight                   13 non-null     object
 54  Best_Elo_Rank_Date       100 non-null    object
 55  Best_Rank_Date           100 non-null    object
 56  Current_Elo_Rank_Points  100 non-null    int64
 57  Current_Rank_Points      100 non-null    int64
 58  GOAT_Rank_Points         100 non-null    int64
 59  Date_Of_Birth            100 non-null    object
 60  Total_Win_Percentage     100 non-null    float64
 61  Total_Matches_Won        100 non-null    int64
 62  Total_Matches_Lost       100 non-null    int64
 63  Favorite_Surface_%       100 non-null    float64
 64  Hard_Win_Percentage      100 non-null    float64
 65  Hard_Matches_Won         100 non-null    int64
 66  Hard_Matches_Lost        100 non-null    int64
 67  Clay_Win_Percentage      100 non-null    float64
 68  Clay_Matches_Won         100 non-null    int64
 69  Clay_Matches_Lost        100 non-null    int64
 70  Carpet_Win_Percentage    100 non-null    float64
 71  Carpet_Matches_Won       100 non-null    int64
 72  Carpet_Matches_Lost      100 non-null    int64
 73  Grass_Win_Percentage     100 non-null    float64
 74  Grass_Matches_Won        100 non-null    int64
 75  Grass_Matches_Lost       100 non-null    int64
dtypes: float64(37), int64(20), object(19)
memory usage: 59.5+ KB

In [12]:
# Converting to integer (Fill Na as '0')

df[['Davis Cups','Grand Slams', 'Masters', 'Olympics', 'Team Cups', 'Titles', 'Tour Finals', 'Weeks at No. 1']] = df[['Davis Cups','Grand Slams', 'Masters', 'Olympics', 'Team Cups', 'Titles', 'Tour Finals', 'Weeks at No. 1']].fillna('0')
df = df.astype({'Davis Cups': 'int64','Grand Slams': 'int64', 'Masters': 'int64', 'Olympics': 'int64', 'Team Cups': 'int64', 'Titles': 'int64', 'Tour Finals': 'int64', 'Weeks at No. 1': 'int64'})

In [13]:
df[['Davis Cups','Grand Slams', 'Masters', 'Olympics', 'Team Cups', 'Titles', 'Tour Finals', 'Weeks at No. 1']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Davis Cups      100 non-null    int64
 1   Grand Slams     100 non-null    int64
 2   Masters         100 non-null    int64
 3   Olympics        100 non-null    int64
 4   Team Cups       100 non-null    int64
 5   Titles          100 non-null    int64
 6   Tour Finals     100 non-null    int64
 7   Weeks at No. 1  100 non-null    int64
dtypes: int64(8)
memory usage: 6.4 KB

In [14]:
# Checking missing prize money
nan_in_col  = df[df['Prize Money'].isnull()]
nan_in_col[['Name','Prize Money']]

                    Name Prize Money
10           Ben Shelton         NaN
20  Christopher Oconnell         NaN

In [15]:
# Adding missing prize money
df.at[10, 'Prize Money'] = '$716,478'
df.at[20, 'Prize Money'] = '$1,413,710'

In [16]:
# Checking if added correctly
df[['Name', 'Prize Money']].iloc[[10,20]]

                    Name Prize Money
10           Ben Shelton    $716,478
20  Christopher Oconnell  $1,413,710

In [17]:
# Converting Prize Money

# Changing name of column:
df.rename(columns = {'Prize Money':'Prize_Money_USD'}, inplace = True)

# stripping all non-digits
df['Prize_Money_USD'] = df['Prize_Money_USD'].str.replace('\D', '', regex=True)

# Converting to int
df = df.astype({'Prize_Money_USD':'int64'})

In [18]:
# Checking if converted corrctly
print(df[['Prize_Money_USD']].head())
print(df[['Prize_Money_USD']].info())

   Prize_Money_USD
0          8880161
1          8162087
2          2733019
3          6834777
4           764855
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Prize_Money_USD  100 non-null    int64
dtypes: int64(1)
memory usage: 928.0 bytes
None

In [19]:
# Checking which players have null height

nan_in_col  = df[df['Height'].isnull()]

nan_in_col[['Name','Height']]

                                  Name Height
10                         Ben Shelton    NaN
15                   Brandon Nakashima    NaN
35                      Facundo Bagnis    NaN
51                   Jeffrey John Wolf    NaN
52                     Jenson Brooksby    NaN
56  Juan Pablo Varillas Patino Samudio    NaN

In [20]:
# Adding missing Height 
df.at[10, 'Height'] = '193 cm'
df.at[15, 'Height'] = '188 cm'
df.at[35, 'Height'] = '183 cm'
df.at[51, 'Height'] = '183 cm'
df.at[52, 'Height'] = '193 cm'
df.at[56, 'Height'] = '185 cm'

In [21]:
# Checking if added correctly
df[['Name', 'Height']].iloc[[10,15,35,51,52,56]]

                                  Name  Height
10                         Ben Shelton  193 cm
15                   Brandon Nakashima  188 cm
35                      Facundo Bagnis  183 cm
51                   Jeffrey John Wolf  183 cm
52                     Jenson Brooksby  193 cm
56  Juan Pablo Varillas Patino Samudio  185 cm

In [22]:
# Converting Height

# Changing name of column:
df.rename(columns = {'Height':'Height_cm'}, inplace = True)

# stripping all non-digits
df['Height_cm'] = df['Height_cm'].str.replace('\D', '', regex=True)

# Converting to int
df = df.astype({'Height_cm':'int64'})

In [23]:
# Checking if converted corrctly
print(df[['Height_cm']].head())
print(df[['Height_cm']].info())

   Height_cm
0        183
1        188
2        183
3        183
4        178
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Height_cm  100 non-null    int64
dtypes: int64(1)
memory usage: 928.0 bytes
None

In [24]:
# Converting Last Appearance, Match Time (hr:min), Best_Elo_Rank_Date, Best_Rank_Date, Date_Of_Birth to Datetime

df[['Last Appearance','Best_Elo_Rank_Date', 'Best_Rank_Date', 'Date_Of_Birth', "Match Time"]].head()

  Last Appearance Best_Elo_Rank_Date Best_Rank_Date Date_Of_Birth Match Time
0      27-02-2023         2018-01-15     2018-03-19    1988-06-29       1:41
1      27-02-2023         2017-05-01     2017-05-08    1988-01-17       1:54
2      27-02-2023         2021-06-13     2022-04-18    1999-06-05       2:00
3      27-02-2023         2023-03-06     2021-06-28    1999-02-17       1:56
4      27-02-2023         2022-07-25     2022-05-23    1997-12-01       1:49

In [25]:
# Converting to datetime
df['Last Appearance'] = pd.to_datetime(df['Last Appearance'], format= "%d-%m-%Y")

df['Best_Elo_Rank_Date'] = pd.to_datetime(df['Best_Elo_Rank_Date'], format= "%Y-%m-%d")
df['Best_Rank_Date'] = pd.to_datetime(df['Best_Rank_Date'], format= "%Y-%m-%d")
df['Date_Of_Birth'] = pd.to_datetime(df['Date_Of_Birth'], format= "%Y-%m-%d")

df['Match Time'] = pd.to_datetime(df['Match Time'], format= "%H:%M")

In [26]:
# Checking if converted properly 
print(df[['Last Appearance','Best_Elo_Rank_Date', 'Best_Rank_Date', 'Date_Of_Birth', 'Match Time']].head())
print(df[['Last Appearance','Best_Elo_Rank_Date', 'Best_Rank_Date', 'Date_Of_Birth', 'Match Time']].info())

  Last Appearance Best_Elo_Rank_Date Best_Rank_Date Date_Of_Birth  \
0      2023-02-27         2018-01-15     2018-03-19    1988-06-29
1      2023-02-27         2017-05-01     2017-05-08    1988-01-17
2      2023-02-27         2021-06-13     2022-04-18    1999-06-05
3      2023-02-27         2023-03-06     2021-06-28    1999-02-17
4      2023-02-27         2022-07-25     2022-05-23    1997-12-01

           Match Time
0 1900-01-01 01:41:00
1 1900-01-01 01:54:00
2 1900-01-01 02:00:00
3 1900-01-01 01:56:00
4 1900-01-01 01:49:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Last Appearance     100 non-null    datetime64[ns]
 1   Best_Elo_Rank_Date  100 non-null    datetime64[ns]
 2   Best_Rank_Date      100 non-null    datetime64[ns]
 3   Date_Of_Birth       100 non-null    datetime64[ns]
 4   Match Time          100 non-null    datetime64[ns]
dtypes: datetime64[ns](5)
memory usage: 4.0 KB
None

In [27]:
# dropping Weight and Peak Elo Rating

df = df.drop(['Weight', 'Peak Elo Rating'], axis=1)

#### SAVE/RELOAD DATA:

In [32]:
# Saving Dataset as CSV:
df.to_csv('atp_cleaning_4.csv', index=False)

# Saving Dataset as Pickle/Json:
import pickle 
import json

def save_data_pickle(name, data):
    with open(name, 'wb') as f:
        pickle.dump(data, f)

save_data_pickle('atp_cleaning_4', df)

def load_data_pickle(name):
    with open(name, 'rb') as f:
        return pickle.load(f)
    
df_json = df.to_json()
with open('atp_cleaning_4.json', 'w', encoding='utf-8') as f:
    json.dump(df_json, f, ensure_ascii=False, indent=2)

def load_data(title):
    with open(title, encoding="utf-8") as f:
        return json.load(f)

In [33]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
 
# Reloading Dataset:
df = load_data_pickle('atp_cleaning_4')

In [34]:
df.head()

,Name,1st Serve %,1st Serve Won %,1st Srv. Return Won %,2nd Serve Won %,2nd Srv. Return Won %,Ace %,Ace Against %,Age,Backhand,Best_Elo_Rank,Best_Rank,Best Season,Birthplace,Break Points Ratio,Break Points Saved %,Break Points Won %,Coach,Country,Current_Elo_Rank,Current_Rank,Davis Cups,Double Fault %,Double Fault Against %,Favorite_Surface,GOAT_Rank,Games Dominance,Games Won %,Grand Slams,H2H %,Height_cm,Last Appearance,Masters,Match Time,Matches Won %,Olympics,Plays,Points Dominance,Prize_Money_USD,Residence,Return Games Won %,Return Points Won %,Seasons,Service Games Won %,Service Points Won %,Sets Won %,Team Cups,Titles,Total Points Won %,Tour Finals,Turned Pro,Weeks at No. 1,Best_Elo_Rank_Date,Best_Rank_Date,Current_Elo_Rank_Points,Current_Rank_Points,GOAT_Rank_Points,Date_Of_Birth,Total_Win_Percentage,Total_Matches_Won,Total_Matches_Lost,Favorite_Surface_%,Hard_Win_Percentage,Hard_Matches_Won,Hard_Matches_Lost,Clay_Win_Percentage,Clay_Matches_Won,Clay_Matches_Lost,Carpet_Win_Percentage,Carpet_Matches_Won,Carpet_Matches_Lost,Grass_Win_Percentage,Grass_Matches_Won,Grass_Matches_Lost
0,Adrian Mannarino,0.604,0.696,0.283,0.508,0.498,0.061,0.092,34,Two-handed,29,22,2019.0,NaN,1.00,0.593,0.409,NaN,France,60,68,0,0.033,0.038,Grass,388,0.91,0.489,0,0.358,183,2023-02-27,0,1900-01-01 01:41:00,0.460,0,Left-handed,0.97,8880161,NaN,0.217,0.368,16,0.762,0.621,0.462,0,2,0.495,0,2004.0,0,2018-01-15,2018-03-19,1888,791,3,1988-06-29,0.460,250,294,0.53,0.471,178,200,0.224,15,52,0.0,0,0,0.576,57,42
1,Albert Ramos,0.623,0.677,0.296,0.516,0.502,0.042,0.072,35,Two-handed,25,17,2016.0,NaN,1.04,0.609,0.405,NaN,Spain,94,50,0,0.031,0.037,Clay,270,0.97,0.494,0,0.411,188,2023-02-27,0,1900-01-01 01:54:00,0.470,0,Left-handed,0.98,8162087,NaN,0.231,0.376,14,0.762,0.616,0.469,0,4,0.496,0,2007.0,0,2017-05-01,2017-05-08,1809,890,7,1988-01-17,0.470,270,304,0.53,0.359,74,132,0.551,190,155,0.0,0,0,0.261,6,17
2,Alejandro Davidovich Fokina,0.674,0.652,0.320,0.497,0.509,0.030,0.069,23,Two-handed,24,27,2022.0,NaN,0.95,0.570,0.410,NaN,Spain,41,28,0,0.033,0.035,Clay,428,0.97,0.498,0,0.333,183,2023-02-27,0,1900-01-01 02:00:00,0.497,0,Right-handed,0.99,2733019,NaN,0.267,0.393,5,0.725,0.602,0.500,0,0,0.498,0,2019.0,0,2021-06-13,2022-04-18,1926,1390,3,1999-06-05,0.497,71,72,0.25,0.474,37,41,0.545,30,25,0.0,0,0,0.400,4,6
3,Alex De Minaur,0.602,0.701,0.309,0.528,0.515,0.045,0.069,24,Two-handed,15,15,2019.0,NaN,1.09,0.615,0.419,NaN,Australia,15,18,0,0.032,0.037,"Fast (H, G)",212,1.18,0.518,0,0.636,183,2023-02-27,0,1900-01-01 01:56:00,0.588,0,Right-handed,1.06,6834777,NaN,0.250,0.389,7,0.788,0.632,0.563,0,7,0.510,0,2015.0,0,2023-03-06,2021-06-28,2083,2165,11,1999-02-17,0.588,157,110,0.34,0.621,123,75,0.405,15,22,0.0,0,0,0.594,19,13
4,Alex Molcan,0.650,0.669,0.308,0.524,0.508,0.046,0.078,25,Two-handed,41,38,NaN,NaN,0.96,0.586,0.396,NaN,Slovakia,74,63,0,0.030,0.029,Clay,0,0.98,0.497,0,NaN,178,2023-02-27,0,1900-01-01 01:49:00,0.516,0,Left-handed,1.00,764855,NaN,0.238,0.381,3,0.757,0.618,0.500,0,0,0.499,0,2015.0,0,2022-07-25,2022-05-23,1852,820,0,1997-12-01,0.516,33,31,0.47,0.357,10,18,0.667,20,10,0.0,0,0,0.500,3,3

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 74 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     100 non-null    object
 1   1st Serve %              100 non-null    float64
 2   1st Serve Won %          100 non-null    float64
 3   1st Srv. Return Won %    100 non-null    float64
 4   2nd Serve Won %          100 non-null    float64
 5   2nd Srv. Return Won %    100 non-null    float64
 6   Ace %                    100 non-null    float64
 7   Ace Against %            100 non-null    float64
 8   Age                      100 non-null    int64
 9   Backhand                 96 non-null     object
 10  Best_Elo_Rank            100 non-null    int64
 11  Best_Rank                100 non-null    int64
 12  Best Season              65 non-null     object
 13  Birthplace               13 non-null     object
 14  Break Points Ratio       100 non-null    float64
 15  Break Points Saved %     100 non-null    float64
 16  Break Points Won %       100 non-null    float64
 17  Coach                    13 non-null     object
 18  Country                  100 non-null    object
 19  Current_Elo_Rank         100 non-null    int64
 20  Current_Rank             100 non-null    int64
 21  Davis Cups               100 non-null    int64
 22  Double Fault %           100 non-null    float64
 23  Double Fault Against %   100 non-null    float64
 24  Favorite_Surface         100 non-null    object
 25  GOAT_Rank                100 non-null    int64
 26  Games Dominance          100 non-null    float64
 27  Games Won %              100 non-null    float64
 28  Grand Slams              100 non-null    int64
 29  H2H %                    84 non-null     float64
 30  Height_cm                100 non-null    int64
 31  Last Appearance          100 non-null    datetime64[ns]
 32  Masters                  100 non-null    int64
 33  Match Time               100 non-null    datetime64[ns]
 34  Matches Won %            100 non-null    float64
 35  Olympics                 100 non-null    int64
 36  Plays                    99 non-null     object
 37  Points Dominance         100 non-null    float64
 38  Prize_Money_USD          100 non-null    int64
 39  Residence                13 non-null     object
 40  Return Games Won %       100 non-null    float64
 41  Return Points Won %      100 non-null    float64
 42  Seasons                  100 non-null    int64
 43  Service Games Won %      100 non-null    float64
 44  Service Points Won %     100 non-null    float64
 45  Sets Won %               100 non-null    float64
 46  Team Cups                100 non-null    int64
 47  Titles                   100 non-null    int64
 48  Total Points Won %       100 non-null    float64
 49  Tour Finals              100 non-null    int64
 50  Turned Pro               93 non-null     object
 51  Weeks at No. 1           100 non-null    int64
 52  Best_Elo_Rank_Date       100 non-null    datetime64[ns]
 53  Best_Rank_Date           100 non-null    datetime64[ns]
 54  Current_Elo_Rank_Points  100 non-null    int64
 55  Current_Rank_Points      100 non-null    int64
 56  GOAT_Rank_Points         100 non-null    int64
 57  Date_Of_Birth            100 non-null    datetime64[ns]
 58  Total_Win_Percentage     100 non-null    float64
 59  Total_Matches_Won        100 non-null    int64
 60  Total_Matches_Lost       100 non-null    int64
 61  Favorite_Surface_%       100 non-null    float64
 62  Hard_Win_Percentage      100 non-null    float64
 63  Hard_Matches_Won         100 non-null    int64
 64  Hard_Matches_Lost        100 non-null    int64
 65  Clay_Win_Percentage      100 non-null    float64
 66  Clay_Matches_Won         100 non-null    int64
 67  Clay_Matches_Lost        100 non-null    int64
 68  Carpet_Win_Percentage    100 non-null    float64
 69  Carpet_Matches_Won       100 non-null    int64
 70  Carpet_Matches_Lost      100 non-null    int64
 71  Grass_Win_Percentage     100 non-null    float64
 72  Grass_Matches_Won        100 non-null    int64
 73  Grass_Matches_Lost       100 non-null    int64
dtypes: datetime64[ns](5), float64(29), int64(30), object(10)
memory usage: 57.9+ KB

### 6. Conventional column names, Changing Index:

In [38]:
# Changing columns names with % into Percentage, removing white space with _

df.columns = df.columns.str.replace("[%]", "Percentage")
df.columns = df.columns.str.replace("[ ]", "_")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 74 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Name                             100 non-null    object
 1   1st_Serve_Percentage             100 non-null    float64
 2   1st_Serve_Won_Percentage         100 non-null    float64
 3   1st_Srv._Return_Won_Percentage   100 non-null    float64
 4   2nd_Serve_Won_Percentage         100 non-null    float64
 5   2nd_Srv._Return_Won_Percentage   100 non-null    float64
 6   Ace_Percentage                   100 non-null    float64
 7   Ace_Against_Percentage           100 non-null    float64
 8   Age                              100 non-null    int64
 9   Backhand                         96 non-null     object
 10  Best_Elo_Rank                    100 non-null    int64
 11  Best_Rank                        100 non-null    int64
 12  Best_Season                      65 non-null     object
 13  Birthplace                       13 non-null     object
 14  Break_Points_Ratio               100 non-null    float64
 15  Break_Points_Saved_Percentage    100 non-null    float64
 16  Break_Points_Won_Percentage      100 non-null    float64
 17  Coach                            13 non-null     object
 18  Country                          100 non-null    object
 19  Current_Elo_Rank                 100 non-null    int64
 20  Current_Rank                     100 non-null    int64
 21  Davis_Cups                       100 non-null    int64
 22  Double_Fault_Percentage          100 non-null    float64
 23  Double_Fault_Against_Percentage  100 non-null    float64
 24  Favorite_Surface                 100 non-null    object
 25  GOAT_Rank                        100 non-null    int64
 26  Games_Dominance                  100 non-null    float64
 27  Games_Won_Percentage             100 non-null    float64
 28  Grand_Slams                      100 non-null    int64
 29  H2H_Percentage                   84 non-null     float64
 30  Height_cm                        100 non-null    int64
 31  Last_Appearance                  100 non-null    datetime64[ns]
 32  Masters                          100 non-null    int64
 33  Match_Time                       100 non-null    datetime64[ns]
 34  Matches_Won_Percentage           100 non-null    float64
 35  Olympics                         100 non-null    int64
 36  Plays                            99 non-null     object
 37  Points_Dominance                 100 non-null    float64
 38  Prize_Money_USD                  100 non-null    int64
 39  Residence                        13 non-null     object
 40  Return_Games_Won_Percentage      100 non-null    float64
 41  Return_Points_Won_Percentage     100 non-null    float64
 42  Seasons                          100 non-null    int64
 43  Service_Games_Won_Percentage     100 non-null    float64
 44  Service_Points_Won_Percentage    100 non-null    float64
 45  Sets_Won_Percentage              100 non-null    float64
 46  Team_Cups                        100 non-null    int64
 47  Titles                           100 non-null    int64
 48  Total_Points_Won_Percentage      100 non-null    float64
 49  Tour_Finals                      100 non-null    int64
 50  Turned_Pro                       93 non-null     object
 51  Weeks_at_No._1                   100 non-null    int64
 52  Best_Elo_Rank_Date               100 non-null    datetime64[ns]
 53  Best_Rank_Date                   100 non-null    datetime64[ns]
 54  Current_Elo_Rank_Points          100 non-null    int64
 55  Current_Rank_Points              100 non-null    int64
 56  GOAT_Rank_Points                 100 non-null    int64
 57  Date_Of_Birth                    100 non-null    datetime64[ns]
 58  Total_Win_Percentage             100 non-null    float64
 59  Total_Matches_Won                100 non-null    int64
 60  Total_Matches_Lost               100 non-null    int64
 61  Favorite_Surface_Percentage      100 non-null    float64
 62  Hard_Win_Percentage              100 non-null    float64
 63  Hard_Matches_Won                 100 non-null    int64
 64  Hard_Matches_Lost                100 non-null    int64
 65  Clay_Win_Percentage              100 non-null    float64
 66  Clay_Matches_Won                 100 non-null    int64
 67  Clay_Matches_Lost                100 non-null    int64
 68  Carpet_Win_Percentage            100 non-null    float64
 69  Carpet_Matches_Won               100 non-null    int64
 70  Carpet_Matches_Lost              100 non-null    int64
 71  Grass_Win_Percentage             100 non-null    float64
 72  Grass_Matches_Won                100 non-null    int64
 73  Grass_Matches_Lost               100 non-null    int64
dtypes: datetime64[ns](5), float64(29), int64(30), object(10)
memory usage: 57.9+ KB

In [39]:
# Setting index as Current_Rank
df = df.set_index('Current_Rank')

In [43]:
df = df.sort_index(axis=0,ascending=True)

,Name,1st_Serve_Percentage,1st_Serve_Won_Percentage,1st_Srv._Return_Won_Percentage,2nd_Serve_Won_Percentage,2nd_Srv._Return_Won_Percentage,Ace_Percentage,Ace_Against_Percentage,Age,Backhand,Best_Elo_Rank,Best_Rank,Best_Season,Birthplace,Break_Points_Ratio,Break_Points_Saved_Percentage,Break_Points_Won_Percentage,Coach,Country,Current_Elo_Rank,Davis_Cups,Double_Fault_Percentage,Double_Fault_Against_Percentage,Favorite_Surface,GOAT_Rank,Games_Dominance,Games_Won_Percentage,Grand_Slams,H2H_Percentage,Height_cm,Last_Appearance,Masters,Match_Time,Matches_Won_Percentage,Olympics,Plays,Points_Dominance,Prize_Money_USD,Residence,Return_Games_Won_Percentage,Return_Points_Won_Percentage,Seasons,Service_Games_Won_Percentage,Service_Points_Won_Percentage,Sets_Won_Percentage,Team_Cups,Titles,Total_Points_Won_Percentage,Tour_Finals,Turned_Pro,Weeks_at_No._1,Best_Elo_Rank_Date,Best_Rank_Date,Current_Elo_Rank_Points,Current_Rank_Points,GOAT_Rank_Points,Date_Of_Birth,Total_Win_Percentage,Total_Matches_Won,Total_Matches_Lost,Favorite_Surface_Percentage,Hard_Win_Percentage,Hard_Matches_Won,Hard_Matches_Lost,Clay_Win_Percentage,Clay_Matches_Won,Clay_Matches_Lost,Carpet_Win_Percentage,Carpet_Matches_Won,Carpet_Matches_Lost,Grass_Win_Percentage,Grass_Matches_Won,Grass_Matches_Lost
Current_Rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Novak Djokovic,0.649,0.740,0.338,0.555,0.552,0.072,0.065,35,Two-handed,1,1,2015.0,"Belgrade, Serbia",1.28,0.654,0.443,Marian Vajda and Goran Ivanisevic,Serbia,1,1,0.030,0.035,Hard,1,2.29,0.594,22,0.956,188,2023-02-27,38,1900-01-01 01:52:00,0.836,0,Right-handed,1.30,156136601,"Monte Carlo, Monaco",0.321,0.422,20,0.860,0.675,0.766,1,93,0.545,6,2003.0,379,2011-03-21,2011-07-04,2433,7160,1024,1987-05-22,0.836,1045,205,0.15,0.848,669,120,0.804,258,63,0.692,9,4,0.858,109,18
2,Carlos Alcaraz Garfia,0.645,0.700,0.340,0.542,0.529,0.042,0.045,19,Two-handed,4,1,2022.0,NaN,1.09,0.623,0.413,NaN,Spain,4,0,0.030,0.036,Clay,76,1.57,0.556,1,0.708,185,2023-02-20,2,1900-01-01 02:10:00,0.742,0,Right-handed,1.16,5452072,NaN,0.309,0.413,4,0.803,0.644,0.670,0,7,0.525,0,2018.0,20,2022-09-12,2022-09-12,2194,6780,48,2003-05-05,0.742,92,32,0.26,0.700,42,18,0.793,46,12,0.000,0,0,0.667,4,2
3,Stefanos Tsitsipas,0.621,0.760,0.288,0.547,0.492,0.090,0.062,24,One-handed,3,3,2022.0,"Athens, Greece",1.13,0.646,0.399,Patrick Mouratoglou,Greece,5,0,0.028,0.034,Clay,53,1.50,0.540,0,0.750,193,2023-02-13,2,1900-01-01 01:55:00,0.676,0,Right-handed,1.13,1877237430,"Monte Carlo, Monaco",0.210,0.362,7,0.860,0.679,0.628,0,9,0.520,1,2016.0,0,2023-01-30,2021-08-09,2193,5805,72,1998-08-12,0.676,250,120,0.29,0.651,157,84,0.755,77,25,0.000,0,0,0.593,16,11
4,Casper Ruud,0.651,0.723,0.290,0.543,0.510,0.064,0.076,24,Two-handed,6,2,2022.0,NaN,1.07,0.620,0.405,NaN,Norway,14,0,0.029,0.038,Clay,95,1.42,0.538,0,0.656,183,2023-02-27,0,1900-01-01 01:50:00,0.636,0,Right-handed,1.10,6419239,NaN,0.237,0.373,8,0.833,0.660,0.592,0,9,0.517,0,2015.0,0,2022-04-03,2022-09-12,2085,5560,38,1998-12-22,0.636,161,92,0.48,0.537,58,50,0.728,99,37,0.000,0,0,0.375,3,5
5,Taylor Harry Fritz,0.594,0.756,0.269,0.511,0.500,0.115,0.087,25,Two-handed,10,5,2022.0,NaN,0.96,0.620,0.365,NaN,United States,10,0,0.031,0.041,None,166,1.13,0.513,0,0.551,193,2023-02-27,1,1900-01-01 01:47:00,0.563,0,Right-handed,1.04,7560065,NaN,0.195,0.357,9,0.827,0.656,0.546,1,5,0.506,0,2015.0,0,2023-01-16,2023-02-27,2112,3795,17,1997-10-28,0.563,187,145,0.12,0.577,142,104,0.510,25,24,0.000,0,0,0.541,20,17

In [46]:
df.head()

,Name,1st_Serve_Percentage,1st_Serve_Won_Percentage,1st_Srv._Return_Won_Percentage,2nd_Serve_Won_Percentage,2nd_Srv._Return_Won_Percentage,Ace_Percentage,Ace_Against_Percentage,Age,Backhand,Best_Elo_Rank,Best_Rank,Best_Season,Birthplace,Break_Points_Ratio,Break_Points_Saved_Percentage,Break_Points_Won_Percentage,Coach,Country,Current_Elo_Rank,Davis_Cups,Double_Fault_Percentage,Double_Fault_Against_Percentage,Favorite_Surface,GOAT_Rank,Games_Dominance,Games_Won_Percentage,Grand_Slams,H2H_Percentage,Height_cm,Last_Appearance,Masters,Match_Time,Matches_Won_Percentage,Olympics,Plays,Points_Dominance,Prize_Money_USD,Residence,Return_Games_Won_Percentage,Return_Points_Won_Percentage,Seasons,Service_Games_Won_Percentage,Service_Points_Won_Percentage,Sets_Won_Percentage,Team_Cups,Titles,Total_Points_Won_Percentage,Tour_Finals,Turned_Pro,Weeks_at_No._1,Best_Elo_Rank_Date,Best_Rank_Date,Current_Elo_Rank_Points,Current_Rank_Points,GOAT_Rank_Points,Date_Of_Birth,Total_Win_Percentage,Total_Matches_Won,Total_Matches_Lost,Favorite_Surface_Percentage,Hard_Win_Percentage,Hard_Matches_Won,Hard_Matches_Lost,Clay_Win_Percentage,Clay_Matches_Won,Clay_Matches_Lost,Carpet_Win_Percentage,Carpet_Matches_Won,Carpet_Matches_Lost,Grass_Win_Percentage,Grass_Matches_Won,Grass_Matches_Lost
Current_Rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Novak Djokovic,0.649,0.740,0.338,0.555,0.552,0.072,0.065,35,Two-handed,1,1,2015.0,"Belgrade, Serbia",1.28,0.654,0.443,Marian Vajda and Goran Ivanisevic,Serbia,1,1,0.030,0.035,Hard,1,2.29,0.594,22,0.956,188,2023-02-27,38,1900-01-01 01:52:00,0.836,0,Right-handed,1.30,156136601,"Monte Carlo, Monaco",0.321,0.422,20,0.860,0.675,0.766,1,93,0.545,6,2003.0,379,2011-03-21,2011-07-04,2433,7160,1024,1987-05-22,0.836,1045,205,0.15,0.848,669,120,0.804,258,63,0.692,9,4,0.858,109,18
2,Carlos Alcaraz Garfia,0.645,0.700,0.340,0.542,0.529,0.042,0.045,19,Two-handed,4,1,2022.0,NaN,1.09,0.623,0.413,NaN,Spain,4,0,0.030,0.036,Clay,76,1.57,0.556,1,0.708,185,2023-02-20,2,1900-01-01 02:10:00,0.742,0,Right-handed,1.16,5452072,NaN,0.309,0.413,4,0.803,0.644,0.670,0,7,0.525,0,2018.0,20,2022-09-12,2022-09-12,2194,6780,48,2003-05-05,0.742,92,32,0.26,0.700,42,18,0.793,46,12,0.000,0,0,0.667,4,2
3,Stefanos Tsitsipas,0.621,0.760,0.288,0.547,0.492,0.090,0.062,24,One-handed,3,3,2022.0,"Athens, Greece",1.13,0.646,0.399,Patrick Mouratoglou,Greece,5,0,0.028,0.034,Clay,53,1.50,0.540,0,0.750,193,2023-02-13,2,1900-01-01 01:55:00,0.676,0,Right-handed,1.13,1877237430,"Monte Carlo, Monaco",0.210,0.362,7,0.860,0.679,0.628,0,9,0.520,1,2016.0,0,2023-01-30,2021-08-09,2193,5805,72,1998-08-12,0.676,250,120,0.29,0.651,157,84,0.755,77,25,0.000,0,0,0.593,16,11
4,Casper Ruud,0.651,0.723,0.290,0.543,0.510,0.064,0.076,24,Two-handed,6,2,2022.0,NaN,1.07,0.620,0.405,NaN,Norway,14,0,0.029,0.038,Clay,95,1.42,0.538,0,0.656,183,2023-02-27,0,1900-01-01 01:50:00,0.636,0,Right-handed,1.10,6419239,NaN,0.237,0.373,8,0.833,0.660,0.592,0,9,0.517,0,2015.0,0,2022-04-03,2022-09-12,2085,5560,38,1998-12-22,0.636,161,92,0.48,0.537,58,50,0.728,99,37,0.000,0,0,0.375,3,5
5,Taylor Harry Fritz,0.594,0.756,0.269,0.511,0.500,0.115,0.087,25,Two-handed,10,5,2022.0,NaN,0.96,0.620,0.365,NaN,United States,10,0,0.031,0.041,None,166,1.13,0.513,0,0.551,193,2023-02-27,1,1900-01-01 01:47:00,0.563,0,Right-handed,1.04,7560065,NaN,0.195,0.357,9,0.827,0.656,0.546,1,5,0.506,0,2015.0,0,2023-01-16,2023-02-27,2112,3795,17,1997-10-28,0.563,187,145,0.12,0.577,142,104,0.510,25,24,0.000,0,0,0.541,20,17

### 7. Converting Object dtypes to String:

In [54]:
for column in df:
    if df[column].dtypes == 'object':
        df[column] = df[column].astype('string')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 100
Data columns (total 73 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Name                             100 non-null    string
 1   1st_Serve_Percentage             100 non-null    float64
 2   1st_Serve_Won_Percentage         100 non-null    float64
 3   1st_Srv._Return_Won_Percentage   100 non-null    float64
 4   2nd_Serve_Won_Percentage         100 non-null    float64
 5   2nd_Srv._Return_Won_Percentage   100 non-null    float64
 6   Ace_Percentage                   100 non-null    float64
 7   Ace_Against_Percentage           100 non-null    float64
 8   Age                              100 non-null    int64
 9   Backhand                         96 non-null     string
 10  Best_Elo_Rank                    100 non-null    int64
 11  Best_Rank                        100 non-null    int64
 12  Best_Season                      65 non-null     string
 13  Birthplace                       13 non-null     string
 14  Break_Points_Ratio               100 non-null    float64
 15  Break_Points_Saved_Percentage    100 non-null    float64
 16  Break_Points_Won_Percentage      100 non-null    float64
 17  Coach                            13 non-null     string
 18  Country                          100 non-null    string
 19  Current_Elo_Rank                 100 non-null    int64
 20  Davis_Cups                       100 non-null    int64
 21  Double_Fault_Percentage          100 non-null    float64
 22  Double_Fault_Against_Percentage  100 non-null    float64
 23  Favorite_Surface                 100 non-null    string
 24  GOAT_Rank                        100 non-null    int64
 25  Games_Dominance                  100 non-null    float64
 26  Games_Won_Percentage             100 non-null    float64
 27  Grand_Slams                      100 non-null    int64
 28  H2H_Percentage                   84 non-null     float64
 29  Height_cm                        100 non-null    int64
 30  Last_Appearance                  100 non-null    datetime64[ns]
 31  Masters                          100 non-null    int64
 32  Match_Time                       100 non-null    datetime64[ns]
 33  Matches_Won_Percentage           100 non-null    float64
 34  Olympics                         100 non-null    int64
 35  Plays                            99 non-null     string
 36  Points_Dominance                 100 non-null    float64
 37  Prize_Money_USD                  100 non-null    int64
 38  Residence                        13 non-null     string
 39  Return_Games_Won_Percentage      100 non-null    float64
 40  Return_Points_Won_Percentage     100 non-null    float64
 41  Seasons                          100 non-null    int64
 42  Service_Games_Won_Percentage     100 non-null    float64
 43  Service_Points_Won_Percentage    100 non-null    float64
 44  Sets_Won_Percentage              100 non-null    float64
 45  Team_Cups                        100 non-null    int64
 46  Titles                           100 non-null    int64
 47  Total_Points_Won_Percentage      100 non-null    float64
 48  Tour_Finals                      100 non-null    int64
 49  Turned_Pro                       93 non-null     string
 50  Weeks_at_No._1                   100 non-null    int64
 51  Best_Elo_Rank_Date               100 non-null    datetime64[ns]
 52  Best_Rank_Date                   100 non-null    datetime64[ns]
 53  Current_Elo_Rank_Points          100 non-null    int64
 54  Current_Rank_Points              100 non-null    int64
 55  GOAT_Rank_Points                 100 non-null    int64
 56  Date_Of_Birth                    100 non-null    datetime64[ns]
 57  Total_Win_Percentage             100 non-null    float64
 58  Total_Matches_Won                100 non-null    int64
 59  Total_Matches_Lost               100 non-null    int64
 60  Favorite_Surface_Percentage      100 non-null    float64
 61  Hard_Win_Percentage              100 non-null    float64
 62  Hard_Matches_Won                 100 non-null    int64
 63  Hard_Matches_Lost                100 non-null    int64
 64  Clay_Win_Percentage              100 non-null    float64
 65  Clay_Matches_Won                 100 non-null    int64
 66  Clay_Matches_Lost                100 non-null    int64
 67  Carpet_Win_Percentage            100 non-null    float64
 68  Carpet_Matches_Won               100 non-null    int64
 69  Carpet_Matches_Lost              100 non-null    int64
 70  Grass_Win_Percentage             100 non-null    float64
 71  Grass_Matches_Won                100 non-null    int64
 72  Grass_Matches_Lost               100 non-null    int64
dtypes: datetime64[ns](5), float64(29), int64(29), string(10)
memory usage: 57.8 KB

### Save/Reload Data:

In [55]:
# Saving Dataset as CSV:
df.to_csv('atp_cleaning_5.csv', index=False)

# Saving Dataset as Pickle/Json:

save_data_pickle('atp_cleaning_5', df)

def load_data_pickle(name):
    with open(name, 'rb') as f:
        return pickle.load(f)
    
df_json = df.to_json()
with open('atp_cleaning_5.json', 'w', encoding='utf-8') as f:
    json.dump(df_json, f, ensure_ascii=False, indent=2)

def load_data(title):
    with open(title, encoding="utf-8") as f:
        return json.load(f)

In [56]:
# Reload dataset

import pandas as pd
import numpy as np
import warnings
import pickle 
import json
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
 
# Reloading Dataset:
df = load_data_pickle('atp_cleaning_5')